player-connection-mode=Listen
player-connection-guid=3361119653
player-connection-debug=0
player-connection-project-name=HeroStupic
player-connection-ip=192.168.1.3
player-connection-ip=192.168.109.1
player-connection-ip=192.168.75.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=84a07e4efd14454f889e9de3d2997d3b
